{% extends 'core/base.html' %}

{% block title %}
<title>DevRadar | {% block head_title %}{% endblock %}</title>
{% endblock %}

{% block main_content %}
<p>
    Имейл потвърждението е изпратено на {{ request.session.pending_verification_email|default:"No info" }}!
</p>

    <br><br>

<form method="post" action="{% url 'resend_email' %}">
    <p>Не получи имейла?</p>
    <br>
    {% csrf_token %}
    <button type="submit" class="update-button">
        Изпрати линка отново
    </button>
</form>

    {% if user.is_authenticated %}
    <form method="post" action="{% url 'restore_old_email' %}">
    <p>Ако сте сгрешили новия си имейл, можете да го смените:</p>
    <br>
    {% csrf_token %}
    <button type="submit" class="update-button">
        Смени имейл
    </button>
</form>
    {% endif %}
{% endblock %}
