amqp==5.3.1
anyio==4.13.0
asgiref==3.11.1
attrs==26.1.0
autobahn==25.12.2
Automat==25.4.16
azure-core==1.39.0
azure-storage-blob==12.28.0
billiard==4.2.4
cbor2==6.0.1
celery==5.6.3
celery-types==0.26.0
certifi==2026.2.25
cffi==2.0.0
channels==4.3.2
channels_redis==4.3.0
charset-normalizer==3.4.6
click==8.3.1
click-didyoumean==0.3.1
click-plugins==1.1.1.2
click-repl==0.3.0
colorama==0.4.6
ConfigArgParse==1.7.1
constantly==23.10.4
cryptography==46.0.5
daphne==4.2.1
diff-match-patch==20241021
diskcache==5.6.3
distro==1.9.0
dj-config-url==0.1.1
dj-database-url==3.1.2
Django==5.2.11
django-allauth==65.18.0
django-appconf==1.2.0
django-celery-email==3.0.0
django-extensions==4.1
django-model-utils==5.0.0
django-polymorphic==4.11.2
django-private-chat2==1.0.2
django-storages==1.14.6
djangorestframework==3.17.1
dnspython==2.8.0
eventlet==0.41.0
fastuuid==0.14.0
filelock==3.20.3
frozenlist==1.8.0
fsspec==2026.2.0
greenlet==3.3.2
gunicorn==26.0.0
h11==0.16.0
hf-xet==1.2.0
httptools==0.8.0
hyperlink==21.0.0
idna==3.11
importlib_resources==6.5.2
Incremental==24.11.0
isodate==0.7.2
jiter==0.13.0
json5==0.13.0
kombu==5.6.2
MarkupSafe==3.0.3
mccabe==0.7.0
mdurl==0.1.2
msgpack==1.1.2
mslex==1.3.0
multidict==6.7.1
networkx==3.4.2
numpy==1.26.4
orjson==3.11.7
packaging==26.0
pathspec==1.0.4
pexpect==4.9.0
pillow==12.1.1
prompt_toolkit==3.0.52
propcache==0.4.1
psutil==7.2.2
psycogreen==1.0.2
psycopg2==2.9.11
ptyprocess==0.7.0
py-ubjson==0.16.1
pyasn1==0.6.3
pyasn1_modules==0.4.2
pycodestyle==2.14.0
pycparser==3.0
pydantic_core==2.41.5
pydub==0.25.1
pyflakes==3.4.0
Pygments==2.19.2
PyJWT==2.13.0
pyOpenSSL==26.2.0
pypandoc==1.16.2
pyperclip==1.11.0
python-dateutil==2.9.0.post0
python-dotenv==1.2.1
PyYAML==6.0.3
redis==7.4.0
regex==2026.1.15
requests==2.32.5
rpds-py==0.30.0
service-identity==24.2.0
shellingham==1.5.4
shtab==1.8.0
six==1.17.0
smmap==5.0.2
sniffio==1.3.1
socksio==1.0.0
soupsieve==2.8.3
sqlparse==0.5.5
tqdm==4.67.3
tree-sitter==0.25.2
tree-sitter-c-sharp==0.23.1
tree-sitter-embedded-template==0.25.0
tree-sitter-yaml==0.7.2
Twisted==25.5.0
txaio==25.12.2
typing-inspection==0.4.2
typing_extensions==4.15.0
tzdata==2025.3
tzlocal==5.3.1
ujson==5.12.1
Unidecode==1.4.0
urllib3==2.6.3
uvicorn==0.48.0
vine==5.1.0
watchfiles==1.2.0
wcwidth==0.6.0
websockets==16.0
whitenoise==6.12.0
zipp==3.23.0
zope.interface==8.4
