{% extends 'core/base.html' %}

{% block title %}
    <title>DevRadar | Вход</title>
{% endblock %}

{% block main_content %}
<form method="post">
    {% csrf_token %}
    {{ form }}
    <p>Нямате профил? <a style="color: #00b15e" href={% url "register" %}>Регистрирайте се!</a></p>
    <br>



    <button type="submit">ВХОД</button>
</form>

    <p>За тестови цели можете да влезете като Editor, използвайки username: <strong>editor</strong> и password: <strong>abcabcabc1</strong></p>
{% endblock %}
