<!DOCTYPE html>
{% load static %}
{% load filters %}

<html lang="bg">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />

    {% block title %}
    <title>DevRadar | Свободно предлагане на ИТ услуги</title>
    {% endblock %}

    <link rel="icon" type="image/png" href="{% static 'logo.png' %}">

    <link rel="apple-touch-icon" href="{% static 'logo.png' %}">

    <link href="https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@400;500;600;700;800&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'styles.css' %}" />
    <script src="{% static 'scripts.js' %}" type="module"></script>
</head>
<body>
    <header class="main-header">
    {% if False %}
    <div class="alert alert-warning">

        {# --- БАН ЗА ЧАТ --- #}
        {% if is_chat_banned %}
            <h3>Достъпът ви до чата е ограничен, поради нарушения на Правилата.</h3>
            {% if chat_ban_reason %}
                <p>Причина: {{ chat_ban_reason }}</p>
            {% endif %}
            {% if chat_ban_duration %}
                <p>Продължителност на ограничението: {{ chat_ban_duration }}</p>
            {% else %}
                <p>Ограничението е за постоянно.</p>
            {% endif %}
        {% endif %}

            {% if messages %}
                <h3>Следните Ваши съобщения нарушават нашите правила и бяха премахнати:</h3>
                {% for message in messages %}
                    <p>{{ message.text }}</p>
                    <p>Причина: {{ message.last_violation_info.reason }}</p>
                    <p>Изтрито на: {{ message.last_violation_info.deleted_at }}</p>
                {% endfor %}
            {% endif %}
            <hr>


        {# --- БАН ЗА КОМЕНТАРИ --- #}
        {% if is_comments_banned %}
            <h3>Достъпът ви да коментирате е ограничен, поради нарушения на Правилата.</h3>
            {% if comments_ban_reason %}
                <p>Причина: {{ comments_ban_reason }}</p>
            {% endif %}
            {% if comments_ban_duration %}
                <p>Продължителност на ограничението: {{ comments_ban_duration }}</p>
            {% else %}
                <p>Ограничението е за постоянно.</p>
            {% endif %}
        {% endif %}

            {% if comments %}
                <h3>Следните Ваши коментари нарушават нашите правила и бяха премахнати:</h3>
                {% for comment in comments %}
                    <p>{{ comment.text }}</p>
                    <p>Причина: {{ comment.last_violation_info.reason }}</p>
                    <p>Изтрит на: {{ comment.last_violation_info.deleted_at }}</p>
                {% endfor %}
            {% endif %}
            <hr>


        {# --- БАН ЗА УСЛУГИ --- #}
        {% if is_offer_service_banned %}
            <h3>Достъпът ви да предлагате услуги е ограничен, поради нарушения на Правилата.</h3>
            {% if offer_service_ban_reason %}
                <p>Причина: {{ offer_service_ban_reason }}</p>
            {% endif %}
            {% if offer_service_ban_duration %}
                <p>Продължителност на ограничението: {{ offer_service_ban_duration }}</p>
            {% else %}
                <p>Ограничението е за постоянно.</p>
            {% endif %}
        {% endif %}

            {% if services %}
                <h3>Следните Ваши услуги нарушават нашите правила и бяха премахнати:</h3>
                {% for service in services %}
                    <p>{{ service.name }}</p>
                    <p>Причина: {{ service.last_violation_info.reason }}</p>
                    <p>Изтрит на: {{ service.last_violation_info.deleted_at }}</p>
                {% endfor %}
            {% endif %}
            <hr>


        <a href="#">Опция за обжалване</a>
    </div>
{% endif %}
        <nav class="nav-container">
            <a href="/" class="logo">Dev<span>Radar</span></a>

            <button class="menu-toggle" id="mobile-toggle" aria-label="Toggle Menu">
                <span></span>
            </button>

            <div class="nav-inner" id="nav-content">
                <ul class="nav-menu">
                    <li><a href="{% url 'all_services' %}" class="nav-link">Услуги</a></li>
                    <li><a href="{% url 'all_programmers' %}" class="nav-link">Експерти</a></li>
                    <li><a href="{% url 'all_types' %}" class="nav-link">Типове услуги</a></li>
                    <li><a href="{% url 'api_info' %}" class="nav-link">DevRadar API</a></li>
                    <li><a href="{% url 'users_chats' %}" class="nav-link">Моите чатове</a></li>

                    {% if not user.is_authenticated %}
                    <li><a href="{% url 'login' %}" class="nav-link">ВХОД</a></li>
                    {% else %}
                    <li><a href="{% url 'profile' %}" class="nav-link">Профил</a></li>
                    {% endif %}

                    {% if user.is_superuser or user|has_group:"Editors" %}

                    <li class="dropdown">
                        <span class="nav-link dropdown-trigger">Управление ▼</span>
                        <ul class="dropdown-content">
                            <li><a href="{% url 'create_technology' %}">Добави технология</a></li>
                            <li><a href="{% url 'create_type' %}">Добави тип услуга</a></li>
                            <li><a href="{% url 'all_users' %}">Управление на потребители</a></li>
                            <li><a href="{% url 'all_reported_messages' %}">Докладвани съобщения</a></li>
                            <li><a href="{% url 'all_reported_services' %}">Докладвани услуги</a></li>
                            <li><a href="{% url 'all_reported_comments' %}">Докладвани коментари</a></li>
                            <li><a href="{% url 'all_reported_programmers' %}">Докладвани програмисти</a></li>
                            <li><a href="{% url 'appeals' %}">Обжалвания</a></li>
                        </ul>
                    </li>
                    {% endif %}
                </ul>

                {% if user|has_group:"Programmers" %}
                <div class="nav-actions">
                    <a href="{% url 'create_service' %}" class="btn btn--primary">Предложи услуга</a>
                </div>
                {% endif %}
            </div>
        </nav>
    </header>

    <main class="content-wrapper">
        {% block main_content %}{% endblock %}
    </main>

    <footer class="main-footer">
        <div class="footer-grid">
            <div class="footer-brand">
                <a href="/" class="logo">Dev<span>Radar</span></a>
                <p>Мрежа за софтуерни решения.</p>
            </div>
            <div class="footer-nav">
                <h4>Бързи връзки</h4>
                <a href="{% url 'all_services' %}">Всички услуги</a>
                <a href="{% url 'all_programmers' %}">Топ програмисти</a>
            </div>
            <div class="footer-social">
                <h4>Контакти</h4>
                <p>support@devradar.com</p>
            </div>
        </div>
        <div class="footer-bottom">
            <p>&copy; 2026 DevRadar</p>
        </div>
    </footer>


</body>
</html>