{% extends 'core/base.html' %}

{% block title %}
    <title>DevRadar | Подробности за типа услуга</title>
{% endblock %}

{% block main_content %}
<article class="categories-type">

    <a href="{% url 'delete_type' type.slug%}"><button class="delete-button">Изтрий</button></a>


    <div class="categories-type__header">

        <h1 class="categories-type__name">
            {{ type.name|upper }}
        </h1>
        <p class="categories-type__description">
            {{ type.description }}
        </p>
    </div>

    <section class="categories-type__services">
        <h2 class="categories-type__services-title">Услуги</h2>

        <div class="categories-type__services-list">
            {% for service in type.services.all %}
                <div class="categories-type__service-item">
                    {% include 'services/service_short_details.html' %}
                </div>
            {% empty %}
                <p class="categories-type__no-services">
                    Няма намерени услуги.
                </p>
            {% endfor %}
        </div>
    </section>

</article>
{% endblock %}
