{% extends 'core/base.html' %}

{% load simple_tags %}

{% block title %}
    <title>DevRadar | Всички услуги</title>
{% endblock %}

{% block main_content %}
<section class="services-page">

    <!-- Бутон за toggle -->
    <button type="button" id="toggleSearchBtn" class="services-page__toggle-button">
        Покажи търсачката и филтрите
    </button>

    <div class="services-page__search is-hidden" id="servicesSearch">
        <form method="get" class="services-page__search-form">
            <div class="services-page__search-fields">
                {{ form }}
            </div>
            <button type="submit" class="services-page__search-button">
                Search
            </button>
        </form>
    </div>


    <div class="services-page__list">
        {% for service in services %}
            <div class="services-page__item">
                {% include 'services/service_short_details.html' %}
            </div>
        {% empty %}
            <p class="services-page__empty">
                No services found.
            </p>
        {% endfor %}
    </div>

    <div class="services-page__pagination">
        {% if page_obj.has_previous %}
            <a
                href="?{% get_parameters %}page={{ page_obj.previous_page_number }}"
                class="services-page__pagination-link services-page__pagination-link--prev"
            >
                Предишна
            </a>
        {% endif %}

        {% if page_obj.has_next %}
            <a
                href="?{% get_parameters %}page={{ page_obj.next_page_number }}"
                class="services-page__pagination-link services-page__pagination-link--next"
            >
                Следващa
            </a>
        {% endif %}
    </div>

</section>
    <script>
    document.addEventListener('DOMContentLoaded', function () {
        const toggleBtn = document.getElementById('toggleSearchBtn');
        const searchSection = document.getElementById('servicesSearch');

        toggleBtn.addEventListener('click', function () {
            searchSection.classList.toggle('is-hidden');

            if (searchSection.classList.contains('is-hidden')) {
                toggleBtn.textContent = 'Покажи търсачката и филтрите';
            } else {
                toggleBtn.textContent = 'Скрий';
            }
        });
    });
</script>
{% endblock %}




