{% extends 'core/base.html' %}

{% block title %}
    <title>DevRadar | Всички докладвани услуги</title>
{% endblock %}

{% block main_content %}

<div class="content-wrapper">

    <h1 class="report-title">Service Reports</h1>

    <div class="report-list">

        {% for report in reports %}
        <div class="report-card">

            <div class="report-card__header">
                <span class="report-card__reason">
                    {{ report.reason }}
                </span>

                <span class="report-card__date">
                    {{ report.timestamp|date:"d M Y H:i" }}
                </span>
            </div>

            <div class="report-card__body">
                <p class="report-card__message">
                    <strong>Име на услугата:</strong> {{ report.service.name }}
                </p>

                <p class="report-card__sender">
                    <strong>Reported by:</strong> {{ report.sender.username }}
                </p>

                {% if report.description %}
                <p class="report-card__description">
                    {{ report.description }}
                </p>
                {% endif %}
            </div>

            <div class="report-card__footer">
                <a href="{% url 'service_details' report.service.slug %}" class="btn">
                    Виж услугата
                </a>

                {% if not report.service.is_deleted_due_to_violation %}
                    <a href="{% url 'delete_service_due_to_violation' report.service.id %}" class="btn">
                        Изтрий услугата
                    </a>
                {% else %}
                    <a href="{% url 'restore_service_from_violation' report.service.id %}" class="btn">
                        Възстанови услугата
                    </a>
                {% endif %}
                <a href="{% url 'delete_service' report.service.id %}"><button class="delete-button">Изтрий услугата от сървъра</button></a>

            </div>

        </div>
        {% empty %}
        <p class="empty-state">No reports found.</p>
        {% endfor %}

    </div>

    <!-- Навигация за пагинация -->
    {% if is_paginated %}
        <div class="pagination">
            {% if page_obj.has_previous %}
                <a href="?page=1">&laquo; Първа</a>
                <a href="?page={{ page_obj.previous_page_number }}">Предишна</a>
            {% endif %}

            <span>Страница {{ page_obj.number }} от {{ page_obj.paginator.num_pages }}</span>

            {% if page_obj.has_next %}
                <a href="?page={{ page_obj.next_page_number }}">Следваща</a>
                <a href="?page={{ page_obj.paginator.num_pages }}">Последна &raquo;</a>
            {% endif %}
        </div>
    {% endif %}
</div>
{% endblock %}