{% extends 'core/base.html' %}

{% block title %}
    <title>DevRadar | Подробности за услугата</title>
{% endblock %}

{% block main_content %}
<article class="service-details">

    <div class="service-details__header">

        <a href="{% url 'update_service' service.slug%}"><button class="update-button">Edit</button></a>
        <a href="{% url 'delete_service' service.slug%}"><button class="delete-button">Delete</button></a>


        <h1 class="service-details__title">
            {{ service.name|upper }}
        </h1>
        <p class="service-details__type">
            Категория: <a href="{% url 'type_details' service.type.slug %}" class="service-details__type-link"><span>{{ service.type.name|upper }}</span></a>
        </p>
        <p>
        <span class="service-details__programmer">
            Предлага се от: <a href="{% url 'programmer_details' service.programmer.slug %}" class="service-details__programmer-link"><span>{{ service.programmer.get_full_name|upper }}</span></a></span>
        </p>
    </div>

    <p class="service-details__price">
          От  <span class="service-details__price-min">
                {{ service.min_price }}€
            </span>
            до
            <span class="service-details__price-max">
                {{ service.max_price }}€
            </span>
        </p>

    <div class="service-details__content">
        <p class="service-details__description">
            {{ service.description }}
        </p>


    </div>

    <section class="service-details__technologies">
        {% for technology in service.technologies.all %}
            <div class="service-details__technology">
                {% include 'categories/technology_details.html' %}
            </div>
        {% endfor %}
    </section>

    <section class="service-details__comments">
        <h2 class="service-details__comments-title">
            Comments
        </h2>

        <div class="service-details__comment-form">
            {% include 'comments/forms/create_comment_form.html' %}
        </div>

        <div class="service-details__comment-list">
            {% for comment in service.comments.all %}
                <div class="service-details__comment">
                    {% include 'comments/comment_details.html' %}
                </div>
            {% empty %}
                <p class="service-details__no-comments">
                    No comments yet.
                </p>
            {% endfor %}
        </div>
    </section>

</article>
{% endblock %}
