{% extends 'core/base.html' %}

{% block title %}
    <title>DevRadar | Изтриване на технология</title>
{% endblock %}

{% block main_content %}
<form
    method="post"
    enctype="multipart/form-data"
    class="categories-technology-delete-form"
>
    {% csrf_token %}

    <div class="categories-technology-delete-form__fields">
        {{ form }}
    </div>

    <button
        type="submit"
        class="categories-technology-delete-form__button categories-technology-delete-form__button--danger"
    >
        Изтрий
    </button>
</form>
{% endblock %}

