{% extends 'core/base.html' %}

{% load simple_tags %}

{% block title %}
    <title>DevRadar | Моите чатове</title>
{% endblock %}

{% block main_content %}
<section class="services-page">

    {% block header %}
        <h1>Моите чатове</h1>
    {% endblock %}

    <br>
    <div class="chats">
    {% for thread in threads %}
        <a href="{% url 'chat_room' thread.id %}">
            <div class="chat-item__header">
                <span class="chat-item__name">
                    {% if thread.users.all.first.username != user.username %}
                        {{ thread.users.all.first.get_full_name }}
                    {% else %}
                        {{ thread.users.all.last.get_full_name }}
                    {% endif %}
                </span>
                <span class="chat-item__time">
                    {{ thread.message_set.last.timestamp|date:"H:i, d.m.Y" }}
                </span>
            </div>

            <div class="chat-item__message">
                {% if not thread.message_set.last.is_deleted_due_to_violation and not thread.message_set.last.is_deleted_due_to_ban %}
                    {{ thread.message_set.last.text|default:"Няма съобщения" }}
                {% else %}
                    <p><i>Съобщението е изтрито, поради нарушение.</i></p>
                {% endif %}
            </div>
        </a>
    {% empty %}
        <p class="chats-page__empty">
            Няма намерени чатове.
        </p>
    {% endfor %}
    </div>

    <!-- Навигация за пагинация -->
    {% if is_paginated %}
        <div class="pagination">
            {% if page_obj.has_previous %}
                <a href="?page=1">&laquo; Първа</a>
                <a href="?page={{ page_obj.previous_page_number }}">Предишна</a>
            {% endif %}

            <span>Страница {{ page_obj.number }} от {{ page_obj.paginator.num_pages }}</span>

            {% if page_obj.has_next %}
                <a href="?page={{ page_obj.next_page_number }}">Следваща</a>
                <a href="?page={{ page_obj.paginator.num_pages }}">Последна &raquo;</a>
            {% endif %}
        </div>
    {% endif %}

</section>
{% endblock %}