{% extends 'core/base.html' %}

{% block title %}
    <title>DevRadar | Успешно обжалване</title>
{% endblock %}

{% block main_content %}
<section class="hero-section">
    <h1 class="hero-title"><span>Готово</span> — Обжалването е подадено успешно!</h1>
    <p class="hero-lead">Ще бъде разгледано и ако бъде прието, ограниченията Ви ще се премахнат автоматично и съдържанието ви ще бъде възстановено.</p>

    <div style="margin-top: 16px;">
        <a href="/" class="btn btn--primary">Към началото</a>
    </div>
</section>
{% endblock %}
