{% extends 'core/base.html' %}

{% block title %}
    <title>DevRadar | Създаване на услуга</title>
{% endblock %}

{% block main_content %}
<form
    method="post"
    enctype="multipart/form-data"
    class="services-create-form"
>
    {% csrf_token %}

    <div class="services-create-form__fields">
        {{ form }}
    </div>

    <button
        type="submit"
        class="services-create-form__button services-create-form__button--primary"
    >
        Създай
    </button>
</form>
{% endblock %}
