{% extends 'core/base.html' %}

{% block title %}
    <title>DevRadar | Всички програмисти</title>
{% endblock %}

{% block main_content %}
<section class="programmers-list">

    {% for programmer in programmers %}
        <a href="{% url 'programmer_details' programmer.slug %}" class="programmers-list__link">
        <div class="programmer-card">

        <p class="programmers-list__name">
                {{ programmer.get_full_name }}
            </p>

            <img
                src="{{ programmer.image.url }}"
                alt="{{ programmer.get_full_name }}"
                class="programmers-list__image"
            >


        </div>
        </a>
    {% empty %}
        <p class="programmers-list__empty">
            Няма намерени програмисти.
        </p>
    {% endfor %}

</section>
{% endblock %}
