{% extends 'core/base.html' %}

{% block title %}
    <title>DevRadar | Всички докладвани коментари</title>
{% endblock %}

{% block main_content %}

<div class="content-wrapper">

    <h1 class="report-title">Comments Reports</h1>

    <div class="report-list">

        {% for report in reports %}
        <div class="report-card">

            <div class="report-card__header">
                <span class="report-card__reason">
                    {{ report.reason }}
                </span>

                <span class="report-card__date">
                    {{ report.timestamp|date:"d M Y H:i" }}
                </span>
            </div>

            <div class="report-card__body">
                <p class="report-card__message">
                    <strong>Comment:</strong> {{ report.comment.content }}
                </p>



                <p class="report-card__sender">
                    <strong>Comment author:</strong> {{ report.comment.author }}
                </p>
                <p class="report-card__sender">
                    <strong>Reported by:</strong> {{ report.sender.username }}
                </p>

                {% if report.description %}
                <p class="report-card__description">
                    {{ report.description }}
                </p>
                {% endif %}
            </div>

            <div class="report-card__footer">
                <a href="{% url 'service_details' report.comment.service.slug %}" class="btn">
                    Виж коментираната услуга
                </a>

                <a href="{% url 'delete_comment' report.comment.id %}" class="btn">
                    Изтрий коментара
                </a>

            </div>

        </div>
        {% empty %}
        <p class="empty-state">No reports found.</p>
        {% endfor %}

    </div>
</div>
{% endblock %}